openapi: 3.0.3
info:
  title: HEI - Grade Management API
  description: >
    API for managing grades at the Higher Institute of Computer Science (HEI).
    Covers authentication (student/teacher/admin login), the academic repository
    (cohorts, groups, courses, EL/TN tracks), exams and grades (with history),
    grade transcripts (PDF via S3 + Poja email, asynchronous), and the graduate
    list (Excel export).
  version: "2.0.0"
servers:
  - url: https://ykc5vnpsxpkahbcvse6pnvowt40mupoe.lambda-url.eu-west-3.on.aws/
    description: Poja deployment environment (AWS Lambda)

tags:
  - name: Auth
  - name: Cohorts
  - name: Groups
  - name: Students
  - name: Teachers
  - name: Courses
  - name: Exams
  - name: Grades
  - name: Transcripts
  - name: Graduates
  - name: Admin-UI

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate a user (student, teacher, or admin)
      description: >
        Public endpoint (no token required). Authenticates with an auto-generated
        email (hei.firstname@student.com / @teacher.com / @admin.com) and a password,
        and returns a JWT. The email domain must be consistent with the user's actual
        role in the database; this is enforced server-side, not merely inferred.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /promotions:
    get:
      tags: [Cohorts]
      summary: List cohorts
      description: Restricted to ADMIN role.
      responses:
        "200":
          description: List of cohorts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Cohort" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Cohorts]
      summary: Create a cohort
      description: Restricted to ADMIN role. The ref must be an unused letter (L, M, D are forbidden).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CohortCreateRequest" }
      responses:
        "201":
          description: Cohort created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cohort" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /promotions/{id}/groups/generate:
    post:
      tags: [Groups]
      summary: Automatically generate groups for a cohort
      description: >
        Restricted to ADMIN role. Applies balancing rule: 1 group if cohort size ≤ 50;
        otherwise the minimum number of groups of ≤ 40 students, with a maximum difference
        of 1 student between groups. Random allocation of students to groups.
      parameters:
        - $ref: "#/components/parameters/CohortId"
      responses:
        "200":
          description: Groups generated
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Group" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /promotions/{id}/groups:
    get:
      tags: [Groups]
      summary: List groups of a cohort
      description: Restricted to ADMIN role.
      parameters:
        - $ref: "#/components/parameters/CohortId"
      responses:
        "200":
          description: List of groups
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Group" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /students:
    post:
      tags: [Students]
      summary: Add a student
      description: >
        Restricted to ADMIN role. The email is NOT provided by the caller: it is
        generated server-side as hei.firstname@student.com. An initial password is
        generated as well (to be reset on first login).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudentCreateRequest" }
      responses:
        "201":
          description: Student created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Student" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /students/{id}:
    delete:
      tags: [Students]
      summary: Delete a student
      description: Restricted to ADMIN role. Grade history is preserved.
      parameters:
        - $ref: "#/components/parameters/StudentId"
      responses:
        "204": { description: Student deleted }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /students/{id}/group:
    patch:
      tags: [Students]
      summary: Change a student's group
      description: >
        Restricted to ADMIN role. Closes the current group history and opens a new entry.
        The student's grades are never affected by this change.
      parameters:
        - $ref: "#/components/parameters/StudentId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GroupChangeRequest" }
      responses:
        "200":
          description: Group updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Student" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /students/{id}/parcours:
    patch:
      tags: [Students]
      summary: Set a student's track (EL/TN)
      description: Restricted to ADMIN role. Applicable from the 4th semester onwards.
      parameters:
        - $ref: "#/components/parameters/StudentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [track]
              properties:
                track: { $ref: "#/components/schemas/Track" }
      responses:
        "200":
          description: Track updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Student" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /teachers:
    post:
      tags: [Teachers]
      summary: Add a teacher
      description: >
        Restricted to ADMIN role. Not present in the initial spec, but required
        since teacher accounts must be creatable. The email is generated server-side
        as hei.firstname@teacher.com; an initial password is generated as well.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TeacherCreateRequest" }
      responses:
        "201":
          description: Teacher created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Teacher" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /courses:
    get:
      tags: [Courses]
      summary: List courses
      description: >
        ADMIN: all courses. TEACHER: limited to assigned courses.
        STUDENT: limited to courses of their semester/track.
      parameters:
        - in: query
          name: semester
          schema: { type: integer, minimum: 1, maximum: 6 }
        - in: query
          name: track
          schema: { $ref: "#/components/schemas/Track" }
      responses:
        "200":
          description: List of courses
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Course" }
    post:
      tags: [Courses]
      summary: Create a course
      description: Restricted to ADMIN role.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CourseCreateRequest" }
      responses:
        "201":
          description: Course created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Course" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /courses/{id}/teachers:
    post:
      tags: [Courses]
      summary: Assign a teacher to a course
      description: Restricted to ADMIN role. N-N relationship, versioned by academic year.
      parameters:
        - $ref: "#/components/parameters/CourseId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TeacherAssignmentRequest" }
      responses:
        "201":
          description: Assignment created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TeacherAssignment" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /teachers/{id}/courses:
    get:
      tags: [Courses]
      summary: List courses assigned to a teacher
      description: ADMIN (any teacher) or TEACHER (only for themselves).
      parameters:
        - $ref: "#/components/parameters/TeacherId"
      responses:
        "200":
          description: Assigned courses
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Course" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /courses/{id}/exams:
    get:
      tags: [Exams]
      summary: List exams for a course
      description: ADMIN, TEACHER (their courses), STUDENT (courses in their curriculum).
      parameters:
        - $ref: "#/components/parameters/CourseId"
        - in: query
          name: academicYear
          schema: { type: integer }
      responses:
        "200":
          description: List of exams
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Exam" }
    post:
      tags: [Exams]
      summary: Create an exam for a course
      description: >
        ADMIN, or TEACHER if the course is assigned to them. The sum of coefficients
        of exams for the same course/year must not exceed 1.
      parameters:
        - $ref: "#/components/parameters/CourseId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExamCreateRequest" }
      responses:
        "201":
          description: Exam created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Exam" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /exams/{id}/grades:
    get:
      tags: [Grades]
      summary: List grades of all students for an exam
      description: Restricted to ADMIN, or TEACHER if the exam's course is assigned to them.
      parameters:
        - $ref: "#/components/parameters/ExamId"
      responses:
        "200":
          description: Exam grades
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Grade" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /exams/{id}/grades/{studentId}:
    put:
      tags: [Grades]
      summary: Add or update a student's grade for an exam
      description: >
        Restricted to ADMIN, or TEACHER if the exam's course is assigned to them.
        Any modification (including the first entry) generates a history entry.
      parameters:
        - $ref: "#/components/parameters/ExamId"
        - $ref: "#/components/parameters/StudentIdInExamPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GradeUpsertRequest" }
      responses:
        "200":
          description: Grade recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Grade" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /students/{id}/grades:
    get:
      tags: [Grades]
      summary: View a student's grades
      description: STUDENT (their own), TEACHER (their courses only), ADMIN (any student).
      parameters:
        - $ref: "#/components/parameters/StudentId"
        - in: query
          name: academicYear
          schema: { type: integer }
      responses:
        "200":
          description: Grade details
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StudentGrades" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /students/{id}/grades/history:
    get:
      tags: [Grades]
      summary: History of grade modifications for a student
      description: ADMIN, or STUDENT for themselves (read-only).
      parameters:
        - $ref: "#/components/parameters/StudentId"
      responses:
        "200":
          description: Grade history
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/GradeHistoryEntry" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /students/{id}/years/{year}/summary:
    get:
      tags: [Transcripts]
      summary: Annual summary (grades, average, credits, status)
      description: >
        STUDENT (their own), TEACHER (their courses, partial view), ADMIN (any student).
        The returned status is PROVISIONAL or COMPLETE depending on whether all expected
        grades for the year have been entered.
      parameters:
        - $ref: "#/components/parameters/StudentId"
        - in: path
          name: year
          required: true
          schema: { type: integer, minimum: 1, maximum: 3 }
      responses:
        "200":
          description: Annual summary
          content:
            application/json:
              schema: { $ref: "#/components/schemas/YearSummary" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /students/{id}/transcript:
    post:
      tags: [Transcripts]
      summary: Generate and send grade transcript (PDF, asynchronous)
      description: >
        STUDENT (only for themselves) or ADMIN (any student). Asynchronously triggers:
        PDF generation (provisional or complete), upload to AWS S3, then email sending
        (Poja email service) containing the link. HTTP response is immediate (202);
        the document and email arrive subsequently.
      parameters:
        - $ref: "#/components/parameters/StudentId"
        - in: query
          name: academicYear
          schema: { type: integer }
      responses:
        "202":
          description: Generation request accepted (asynchronous processing)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TranscriptRequestAck" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /promotions/{id}/graduates:
    get:
      tags: [Graduates]
      summary: List graduates of a cohort
      description: >
        Restricted to ADMIN role. Students who have completed all 3 years with an
        overall average strictly greater than 10 across the entire curriculum.
      parameters:
        - $ref: "#/components/parameters/CohortId"
      responses:
        "200":
          description: List of graduates
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Graduate" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /promotions/{id}/graduates/export:
    get:
      tags: [Graduates]
      summary: Download the list of graduates in Excel format
      description: Restricted to ADMIN role. Direct download, without email sending.
      parameters:
        - $ref: "#/components/parameters/CohortId"
      responses:
        "200":
          description: Excel file (.xlsx)
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema: { type: string, format: binary }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/promotions:
    get:
      tags: [Admin-UI]
      summary: Thymeleaf page listing cohorts
      description: >
        Restricted to ADMIN role. HTML page listing all cohorts, with a download button
        for Excel graduates per cohort (calls GET /promotions/{id}/graduates/export).
        Reached only after login through the shared login page (see /auth/login).
      responses:
        "200":
          description: HTML page
          content:
            text/html:
              schema: { type: string }
        "403": { $ref: "#/components/responses/Forbidden" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    CohortId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    StudentId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    TeacherId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    CourseId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ExamId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    StudentIdInExamPath:
      name: studentId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Invalid request (e.g., business rule violation)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Access denied for the current role
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }

    Role:
      type: string
      enum: [STUDENT, TEACHER, ADMIN]

    Track:
      type: string
      enum: [EL, TN]
      nullable: true
      description: Software Ecosystem (EL) or Digital Transformation (TN). Null before the 4th semester.

    CursusStatus:
      type: string
      enum: [ACTIVE, GRADUATED, DROPPED_OUT]

    ReportStatus:
      type: string
      enum: [PROVISIONAL, COMPLETE]

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          description: Auto-generated login email (hei.firstname@student.com / @teacher.com / @admin.com).
          example: "hei.jean@student.com"
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token: { type: string, description: "JWT access token" }
        role: { $ref: "#/components/schemas/Role" }
        userId: { type: string, format: uuid }

    Cohort:
      type: object
      properties:
        id: { type: string, format: uuid }
        ref: { type: string, example: "A" }
        entryYear: { type: integer, example: 2024 }
        studentCount: { type: integer }
        groupCount: { type: integer }

    CohortCreateRequest:
      type: object
      required: [ref, entryYear]
      properties:
        ref:
          type: string
          description: Cohort letter, different from L, M, D.
          example: "C"
        entryYear: { type: integer, example: 2026 }

    Group:
      type: object
      properties:
        id: { type: string, format: uuid }
        ref: { type: string, example: "A1" }
        cohortId: { type: string, format: uuid }
        studentCount: { type: integer }

    GroupChangeRequest:
      type: object
      required: [newGroupId, effectiveDate]
      properties:
        newGroupId: { type: string, format: uuid }
        effectiveDate: { type: string, format: date }

    Student:
      type: object
      properties:
        id: { type: string, format: uuid }
        ref: { type: string, example: "STD00123" }
        name: { type: string }
        firstname: { type: string }
        email:
          type: string
          format: email
          description: Server-generated, read-only (hei.firstname@student.com).
          readOnly: true
        cohortId: { type: string, format: uuid }
        groupId: { type: string, format: uuid }
        track: { $ref: "#/components/schemas/Track" }
        status: { $ref: "#/components/schemas/CursusStatus" }

    StudentCreateRequest:
      type: object
      required: [name, firstname, cohortId]
      properties:
        name: { type: string }
        firstname: { type: string }
        address: { type: string }
        birthdate: { type: string, format: date }
        cohortId: { type: string, format: uuid }
        groupId:
          type: string
          format: uuid
          description: Optional — if absent, automatic assignment.

    Teacher:
      type: object
      properties:
        id: { type: string, format: uuid }
        ref: { type: string, example: "TCR00045" }
        name: { type: string }
        firstname: { type: string }
        email:
          type: string
          format: email
          description: Server-generated, read-only (hei.firstname@teacher.com).
          readOnly: true

    TeacherCreateRequest:
      type: object
      required: [name, firstname]
      properties:
        name: { type: string }
        firstname: { type: string }
        address: { type: string }
        birthdate: { type: string, format: date }

    Course:
      type: object
      properties:
        id: { type: string, format: uuid }
        ref: { type: string, example: "ALGO" }
        title: { type: string, example: "Algorithmics" }
        credit: { type: integer, example: 5 }
        semesterNumber: { type: integer, minimum: 1, maximum: 6 }
        track: { $ref: "#/components/schemas/Track" }

    CourseCreateRequest:
      type: object
      required: [ref, title, credit, semesterNumber]
      properties:
        ref: { type: string }
        title: { type: string }
        credit: { type: integer }
        semesterNumber: { type: integer, minimum: 1, maximum: 6 }
        track: { $ref: "#/components/schemas/Track" }

    TeacherAssignmentRequest:
      type: object
      required: [teacherId, academicYear]
      properties:
        teacherId: { type: string, format: uuid }
        academicYear: { type: integer, example: 2026 }

    TeacherAssignment:
      type: object
      properties:
        id: { type: string, format: uuid }
        teacherId: { type: string, format: uuid }
        courseId: { type: string, format: uuid }
        academicYear: { type: integer }

    Exam:
      type: object
      properties:
        id: { type: string, format: uuid }
        courseId: { type: string, format: uuid }
        academicYear: { type: integer }
        label: { type: string, example: "CC1" }
        dateExam: { type: string, format: date-time }
        coefficient:
          type: number
          format: double
          description: Fraction of the weight in the course grade (sum = 1 per course/year).
          example: 0.25

    ExamCreateRequest:
      type: object
      required: [label, dateExam, coefficient, academicYear]
      properties:
        label: { type: string }
        dateExam: { type: string, format: date-time }
        coefficient: { type: number, format: double }
        academicYear: { type: integer }

    Grade:
      type: object
      properties:
        id: { type: string, format: uuid }
        examId: { type: string, format: uuid }
        studentId: { type: string, format: uuid }
        value: { type: number, format: double, minimum: 0, maximum: 20 }
        enteredBy: { type: string, format: uuid }
        enteredAt: { type: string, format: date-time }

    GradeUpsertRequest:
      type: object
      required: [value, reason]
      properties:
        value: { type: number, format: double, minimum: 0, maximum: 20 }
        reason:
          type: string
          description: Reason for entry/modification (e.g., initial entry, student appeal, transcription error).
          example: "student appeal"

    GradeHistoryEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        gradeId: { type: string, format: uuid }
        oldValue: { type: number, format: double, nullable: true }
        newValue: { type: number, format: double }
        changedBy: { type: string, format: uuid }
        changedAt: { type: string, format: date-time }
        reason: { type: string }

    CourseGradeSummary:
      type: object
      properties:
        courseId: { type: string, format: uuid }
        courseRef: { type: string }
        courseTitle: { type: string }
        credit: { type: integer }
        finalGrade: { type: number, format: double }

    StudentGrades:
      type: object
      properties:
        studentId: { type: string, format: uuid }
        academicYear: { type: integer }
        courses:
          type: array
          items: { $ref: "#/components/schemas/CourseGradeSummary" }

    YearSummary:
      type: object
      properties:
        studentId: { type: string, format: uuid }
        year: { type: integer }
        courses:
          type: array
          items: { $ref: "#/components/schemas/CourseGradeSummary" }
        overallAverage: { type: number, format: double }
        totalCredits: { type: integer, example: 60 }
        status: { $ref: "#/components/schemas/ReportStatus" }

    TranscriptRequestAck:
      type: object
      properties:
        requestId: { type: string, format: uuid }
        studentId: { type: string, format: uuid }
        status:
          type: string
          enum: [ACCEPTED]
        message:
          type: string
          example: "Generation in progress, an email will be sent with the document link."

    Graduate:
      type: object
      properties:
        rank: { type: integer }
        studentRef: { type: string, example: "STD24042" }
        name: { type: string }
        firstname: { type: string }
        overallAverage: { type: number, format: double }